.loginform{
    border:1px solid #dbdbdb;
    width:350px;
    padding-top:38px;
    padding-left: 38px;
    padding-right: 38px;
    
}
.loginbtn{
    padding:4px;
    border-radius: 8px;
    background-color: rgb(96, 188, 224);
    color:white;
    border:none;
}
.or{
    display:flex;
}
.linebefore{
    width:110px;
    height:1.5px;
    background-color: #dbdbdb;
    margin-top: 23px;
}

.lineafter{
    width:110px;
    height:1.5px;
    background-color: #dbdbdb;
    margin-top: 23px;
}
.orgap{
    margin:17px;
    font-size: 12px;
    font-weight: 600;
    color:grey;
   
}
.dont_have_an_account{
    
    height:70px;
    border:2px solid #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dont_have_an_account p{
    margin-top: 20px;
    font-size: 14px;
}
.signuplink{
    color:rgb(80, 164, 201);
}

